
<app-hc-crear-motivo-consulta (notificarRegistroNuevo)="cargarDatos($event)"></app-hc-crear-motivo-consulta>

<div class="grid mt-4 p-6">

    <!-- <div class="h-1/5 bg-white mb-2 grid grid-cols-2 gap-4">
        <div class="grid sm:grid-cols-4 gap-4 p-2">
            <button mat-raised-button color="primary" routerLink="/paciente/crear">
                <mat-icon>add_circle</mat-icon> Nuevo
            </button>
        </div>
    </div> -->

    <h2 style="padding: 0; margin: 0;">Historial de motivos de consultas</h2>
    <hr>
    <div class="mat-elevation-z8 mt-4">

        <div class="_load_main inset-0" *ngIf="cargando">
            <div class="_load_content">
                <mat-spinner diameter=70 color=primary></mat-spinner>
                <h3 class="_load_text">{{mensajeCarga}}</h3>
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" matTablePaciente class="sm:w-full">

            <ng-container matColumnDef="tipo_enfermedad">
                <th mat-header-cell *matHeaderCellDef> Tipo de enfermedad </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoEnfermedad}} </td>
            </ng-container>

            <ng-container matColumnDef="sintomas_principales">
                <th mat-header-cell *matHeaderCellDef> Sintomas principales </th>
                <td mat-cell *matCellDef="let element"> {{element.sintomasPrincipales}} </td>
            </ng-container>

            <ng-container matColumnDef="relato">
                <th mat-header-cell *matHeaderCellDef> Relato </th>
                <td mat-cell *matCellDef="let element"> {{element.relato}} </td>
            </ng-container>

            <ng-container matColumnDef="apetito">
                <th mat-header-cell *matHeaderCellDef> Apetito </th>
                <td mat-cell *matCellDef="let element"> {{element.apetito}} </td>
            </ng-container>

            <ng-container matColumnDef="sedantes">
                <th mat-header-cell *matHeaderCellDef> Sedantes </th>
                <td mat-cell *matCellDef="let element"> {{element.sedantes}} </td>
            </ng-container>

            <ng-container matColumnDef="orina">
                <th mat-header-cell *matHeaderCellDef> Orina </th>
                <td mat-cell *matCellDef="let element"> {{element.orina}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        </table>

        <mat-paginator [ngClass]="{'d-none': !dataSource.length}" [length]="totalFilas"
            [pageSizeOptions]="[10, 20, 50]" [pageSize]="10" (page)="cargarDatos(null)"></mat-paginator>
    </div>

</div>
